<!DOCTYPE html>
<html>
  <head>
    <title>RailsDietAndFitnessTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar bg-primary mb-3 navbar-dark">
      <a class="navbar-brand" href="/dashboard">Rails Diet & Fitness Tracker</a>
        <ul class="nav">
          <li class="nav-item my-auto">
              <a class="nav-link text-light" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item my-auto mr-3">
            <a class="nav-link text-light" href="/today">Today</a>
          </li>
          <li class="nav-item btn btn-light btn-sm my-auto">
            <%= link_to("Log Out", '/logout', method: 'delete', :class => "nav-link") if logged_in? %>
            <%= link_to("Create Account", '/signup', :class => "nav-link") if !logged_in? && @on %>
            <%= link_to("Log In", '/login', :class => "nav-link") if !logged_in? && !@on %>
          </li>
        </ul>
    </nav>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
