<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RailsDietAndFitnessTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar bg-primary mb-3 navbar-dark">
      <a class="navbar-brand" href="/dashboard">Rails Diet & Fitness Tracker</a>
        <ul class="nav">
          <% if logged_in? %>
            <li class="nav-item my-auto">
                <a class="nav-link text-light" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item my-auto mr-3">
              <a class="nav-link text-light" href="/days/<%= Date.today %>">Today</a>
            </li>
            <li class="my-auto btn nav-item">
              <div class="dropdown my-auto">
                <button class="navbar-toggler btn btn-light my-auto" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/users/<%= current_user.id %>/meals">Meals</a>
                  <a class="dropdown-item" href="/ingredients">Ingredients</a>
                  <a class="dropdown-item" href="/exercises">Exercises</a>
                  <a class="dropdown-item" href="/setup">Your Settings</a>
                </div>
              </div>
            </li>
          <% end %>
          <li class="nav-item btn btn-light btn-sm my-auto">
            <%= link_to("Log Out", '/logout', method: 'delete', :class => "nav-link") if logged_in? %>
            <%= link_to("Create Account", '/signup', :class => "nav-link") if !logged_in? && @on %>
            <%= link_to("Log In", '/login', :class => "nav-link") if !logged_in? && !@on %>
          </li>
        </ul>
    </nav>
    <div class="container p-4">
      <%= yield %>
    </div>

  </body>
</html>
